---
import Layout from "../layouts/index.astro";
import { Button } from "@components";
---

<Layout>
	<section class="w-full flex place-content-center gap-2 items-center">
		<Button href="/react">React</Button>
		<Button href="/svelte">Svelte</Button>
	</section>
</Layout>
